# Auto detect text files and perform LF normalization
* text=auto
# Allow .vfx & .fxc files to have hlsl syntax highlighting
*.vfx   linguist-language=HLSL
*.fxc   linguist-language=HLSL
*.los filter=lfs diff=lfs merge=lfs -text
*.vmap filter=lfs diff=lfs merge=lfs -text
*.vpk filter=lfs diff=lfs merge=lfs -text
